<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net472" />
  <package id="System.Management.Automation" version="6.2.3" targetFramework="net472" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net472" />
</packages>